<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div class="container-fluid mr-5">
        <div class="navbar nav bg-dark ">
            <h1 class="nav-brand"><a class="nav-link">MCM</a></h1>
            <div class="d-flex justify-content-end ms-auto">
                <a class="nav-link ms-2" href="/home">Home </a>
                <a class="nav-link ms-2" href="/register">Register </a>
                <% if (token) { %>
                    <a class="nav-link ms-2 text-danger" href="/logout">Logout</a>
                <% } else { %>
                    <a class="nav-link ms-2" href="/">Login</a>
                <% } %>
            </div>
        </div>
        <h1>Welcome <%= user.firstname%></h1>
    </div>
</body>
</html>