<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
    <br><br>
    <h1 class="text-center">Login Form</h1>
    <br>
    <div class="container d-flex w-50 align-items-center justify-content-center">
        <form class="form-group p-3  bg-opacity " action="/login" method="post">
            <input class="form-control  bg-transparent mb-2" type="email" placeholder="enter email" name="email" required>
            <input class="form-control  bg-transparent mb-3 " type="password" placeholder="enter password" name="password" required>
            <div class="d-flex justify-content-end "><button class="btn mr-3 w-30  btn-outline-primary flex-end">Login</button></div>
        </form>
    </div>
    <div class="d-flex justify-content-center">
        <p>if does not exists an account <a type="submit" href="/register" class="text-danger">Register</a></p>
    </div>
    <br>
    <p class="d-flex justify-content-center">-------------------------------<span>OR</span>-------------------------------</p>
    <div class="d-flex justify-content-center">
      <a href="/auth/google" class="btn btn-primary"><i class="fab fa-google"></i> Login with Google</a>
    </div>
</body>
</html>